@model Inforce_task.Models.Url

<div>
    <h2>URL Details</h2>
    <dl class="row">
        <dt class="col-sm-2">Original URL</dt>
        <dd class="col-sm-10">@Model.originalUrl</dd>
        <dt class="col-sm-2">Short URL</dt>
        <dd class="col-sm-10">@Model.shortUrl</dd>
        <dt class="col-sm-2">Created By</dt>
        <dd class="col-sm-10">@Model.createdBy</dd>
        <dt class="col-sm-2">Created Date</dt>
        <dd class="col-sm-10">@Model.createdDate</dd>
    </dl>
</div>
